{% extends "../../store/base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="login d-flex-align-items-center-py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7 mx-auto">
                            <p>
                                <h3>Registration Complete</h3>
                                Check your email for steps to activate your account!
                            </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}